{% extends 'insumos/index.html' %}

{% block content %}
    
    <div class="pagetitle">
      <h1>Cargos</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'cargos:cargos-list' %}">Inicio</a></li>
          <li class="breadcrumb-item">Cargos</li>
          <li class="breadcrumb-item active">Listado</li>
        </ol>
      </nav>
    </div>

    <div class="col-12 mb-3">
      {% include 'insumos/searchbar.html' with urllist='cargos:cargos-list' urlcreate='cargos:cargo-create' btnnombre='Agregar Cargo' urlextra='cargos:cargos-exportar' btnextra='Exportar a Excel' btnExtraVisible=True %}
  </div>

    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Listado de Cargos</h5>

        {% if cargos %}
          <table class="table table-striped table-bordered">
            <thead class="text-center">
                <tr>
                    <th scope="col">Nombre Cargo</th>
                    <th scope="col">Estado</th>
                    <th scope="col" colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                {% for cargo in cargos %}
                <tr>
                    <td>{{ cargo.nombre_cargo }}</td>
                    <td class="text-center">{{ cargo.get_estado_cargo }}</td>
                    <td class="text-center">
                      <a href="{% url 'cargos:cargo-update' cargo.id %}" data-toggle="tooltip" title="Editar" class="me-1"><i class="bi bi-pencil-fill"></i></a>
                      <a href="{% url 'cargos:cargo-delete' cargo.id %}" data-toggle="tooltip" title="Eliminar" class="ms-1"><i class="bi bi-trash3-fill d-none"></i></a>
                    </td>
                </tr>                
                {% endfor %}
            </tbody>
          </table>

          
          <div class="col-12 mb-3">
            {% include 'insumos/pagination.html'%}
          </div>


        {% else %}          
          <h3 class="text-center">No se encontraron cargos</h3>        
        {% endif %}
        </div>
    </div>

{% endblock %}