{% extends 'insumos/index.html' %}

{% block content %}
    
    <div class="pagetitle">
        <h1>Cargos</h1>
        <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'cargos:cargos-list' %}">Inicio</a></li>
            <li class="breadcrumb-item">Cargos</li>
        </ol>
        </nav>
    </div>

    <section class="section">
        <div class="row">
        <div class="col-lg-8">

            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Formulario Cargos</h5>

                <!-- Create/Update Cargos -->
                <form method="POST" action="" novalidate autocomplete="off">
                    {% csrf_token %}
                    {{form.as_p}}

                    <div class="col-12 text-end">
                    <input type="submit" class="btn btn-primary" value="Guardar">
                    <a href="{% url 'cargos:cargos-list' %}" class="btn btn-outline-primary">Cancelar</a>
                    </div>
                </form>
                <!-- End Formulario Cargos -->

            </div>
            </div>

        </div>

        <div class="col-lg-5"></div>

        </div>
    </section>


{% endblock %}